<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mass Motos Peru</title>
    <link rel="icon" href="/imgs/logo.webp">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- Css Style -->
    <link rel="stylesheet" href="/css/stylesNosotros.css">
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid justify-content-between">

                <!-- Logo -->
                <a class="navbar-brand mx-5" href="/index.html" id="logo">
                    <img src="/imgs/eHS-1ebx4o_2J-JNS61v8-transformed.webp" alt="" width="50" height="50">
                </a>

                <!-- Toggle Button  -->

                <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Sidebar -->
                <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">

                    <!-- Sidebar header -->
                    <div class="offcanvas-header text-white border-bottom">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

                    <!-- Sidebar body -->
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">

                            <li class="nav-item mx-2">
                                <a class="nav-link" aria-current="page" href="/index.html">Inicio</a>
                            </li>

                            <li class="nav-item mx-2">
                                <a class="nav-link" href="/templates/nosotros.html">Nosotros</a>
                            </li>

                            <li class="nav-item mx-2">
                                <a class="nav-link" href="/templates/catalogo.html">Catalogo</a>
                            </li>

                            <li class="nav-item mx-2">
                                <a class="nav-link" href="/templates/contacto.html">Contactanos</a>
                            </li>
                        </ul>
                        <!-- Login / Sign up  & Cart-->
                        <div class="d-flex justify-content-center align-items-center gap-3 mx-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                                class="bi bi-person" id="iconos-perfil-bolsa" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" fill="white"
                                class="bi bi-bag" id="iconos-perfil-bolsa" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <div class="container-fluid" id="section">
        <div class="container text-center my-5 content-center">

            <!-- Main Heading -->
            <div class="main-heading" id="text">Nosotros</div>

            <!-- Sub Heading -->
            <div class="sub-heading" id="text2"> <strong>Para exploradores de lo nuevo</strong></div>
        </div>
    </div>

    <main>
        <div class="container content-section">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <img src="/imgs/grow-better.webp" alt="Grow Better Image" class="img-fluid rounded">
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-section my-3">
                    <h2>Nuestra Mision:</h2>
                    <p>Nuestra misión en Mass Motos Perú es proporcionar a nuestros clientes vehículos de alta calidad
                        que no solo satisfagan sus necesidades de transporte, sino que también ofrezcan una experiencia
                        de conducción excepcional. Creemos en la innovación continua y en la mejora de nuestros
                        productos para asegurar que cada moto que entregamos es una combinación perfecta de estilo,
                        potencia y seguridad.</p>
                </div>
            </div>
        </div>

        <div class="container content-section">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12 order-lg-2 order-md-2">
                    <img src="/imgs/our-story.webp" alt="Our Story Image" class="img-fluid rounded">
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-section my-3">
                    <h2>Nuestra Historia:</h2>
                    <p>Mass Motos Perú comenzó su viaje en 2010 con una visión clara: revolucionar el mercado de las
                        motocicletas en Perú. Desde nuestros humildes comienzos en un pequeño taller, hemos crecido
                        hasta convertirnos en un nombre de confianza en la industria, conocido por la calidad de
                        nuestras motos y el compromiso con la satisfacción del cliente. A lo largo de los años, hemos
                        expandido nuestra línea de productos y servicios, siempre manteniendo la misma pasión y
                        dedicación que nos impulsaron desde el principio. Hoy, Mass Motos Perú continúa liderando el
                        camino en innovación y excelencia, siempre al servicio de nuestros leales clientes.</p>
                </div>
            </div>
        </div>
    </main>

    <section class="py-5 text-center">
        <div class="container">
            <h2 class="mb-5">Mass Motos en Cifras</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 my-2">
                    <div class="card h-100 shadow-sm ">
                        <div class="card-body">
                            <img src="/imgs/sucursal.webp" alt="Global Offices" class="mb-3 img-fluid">
                            <h5 class="card-title">12 Sucursales</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 my-2">
                    <div class="card h-100 shadow-sm ">
                        <div class="card-body">
                            <img src="/imgs/employee.webp" alt="Employees" class="mb-3 img-fluid">
                            <h5 class="card-title">500+ Empleados</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mx-auto my-2">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <img src="/imgs/cliente.webp" alt="Customers" class="mb-3 img-fluid">
                            <h5 class="card-title">20,000+ Clientes</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">

                <!-- Explora -->
                <div class="col-md-3">
                    <h5>Explora</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Modelos de Motos</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Eventos y Promociones</a></li>
                        <li><a href="#">Reseñas y Comparativas</a></li>
                    </ul>
                </div>
                <!-- Servicios -->
                <div class="col-md-3">
                    <h5>Servicios</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Venta de Motos</a></li>
                        <li><a href="#">Taller de Reparaciones</a></li>
                        <li><a href="#">Accesorios y Repuestos</a></li>
                        <li><a href="#">Financiamiento</a></li>
                    </ul>
                </div>
                <!-- Soporte -->
                <div class="col-md-3">
                    <h5>Soporte</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Centro de Ayuda</a></li>
                        <li><a href="#">Garantía y Devoluciones</a></li>
                        <li><a href="#">Atención al Cliente</a></li>
                        <li><a href="#">Términos y Condiciones</a></li>
                    </ul>
                </div>
                <!-- Contacto -->
                <div class="col-md-3">
                    <h5>Contacto</h5>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="bi bi-geo-alt"></i> Av. Las Motos 123, Lima, Perú</a></li>
                        <li><a href="mailto:contacto@motos.com"><i class="bi bi-envelope"></i> contacto@motos.com</a>
                        </li>
                        <li><a href="tel:+51987654321"><i class="bi bi-phone"></i> +51 987 654 321</a></li>
                        <li><a href="tel:+51987654322"><i class="bi bi-phone"></i> +51 987 654 322</a></li>
                    </ul>
                </div>
            </div>

            <div class="row text-center social-icons">
                <div class="col-12">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-1" id="logo-footer">
                <img src="/imgs/logo.webp" alt="logo" width="50" height="50">
            </div>

            <div class="row text-center copyright">
                <div class="col-12">
                    <p>&copy; 2024 Todos los derechos reservados <a href="#">Mass Motos</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
